@import url("https://fonts.googleapis.com/css?family=Space+Mono");

@import "./vars.scss";
@import "./bg.scss";

@import "./bulma-modules.scss";

// Button reset
button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
  outline: none;
}

// em highlight blocks
em {
  font-style: normal;
  position: relative;
  z-index: 1;

  &:after {
    background-color: $grey-light;
    bottom: 0;
    content: " ";
    display: block;
    height: 50%;
    left: 7px;
    opacity: 1;
    position: absolute;
    width: calc(100% + 5px);
    z-index: -1;
  }
}
