@import url("https://fonts.googleapis.com/css?family=IBM+Plex+Mono:400,400i&display=swap");
@import url("https://fonts.googleapis.com/css?family=Rubik&display=swap");

/* em highlight blocks */
/*
em {
  font-style: normal;
  position: relative;
  z-index: 1;

  &:after {
    background-color: $grey-light;
    bottom: 0;
    content: " ";
    display: block;
    height: 50%;
    left: 7px;
    opacity: 1;
    position: absolute;
    width: calc(100% + 5px);
    z-index: -1;
  }
}
*/
