$primary: #ec008c;
$toothpaste: #79e3b4;
$family-primary: "Space Mono";

$navbar-background-color: $primary;
$navbar-item-color: white;
$navbar-item-hover-color: white;
$navbar-item-hover-background-color: transparent;
