@import "../../styles/vars.scss";

.slashed {
  font-size: 40px;
  font-weight: 400;
  position: relative;
  z-index: 1;

  &:before {
    height: 45%;
    background: $primary;
    overflow: hidden;
    position: absolute;
    left: 0px;
    padding-left: 0px;
    top: 0px;
    content: attr(title);
    z-index: 3;
  }

  &:after {
    height: 60%;
    background: $primary;
    overflow: hidden;
    position: absolute;
    left: 0px;
    padding-left: 2px;
    top: 0px;
    content: attr(title);
    z-index: 2;
  }
}

.bold {
  font-weight: 700;
}

.brand-icon {
  font-size: 35px;
  margin-right: 10px;
  transform: rotate(45deg);
}
